{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Deploy Backend API",
    "description": "SDKWork Deploy Server API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.deploy.sdkwork.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3900",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "AuthToken": [],
      "AccessToken": []
    }
  ],
  "paths": {
    "/backend/v3/api/nginx/configs": {
      "get": {
        "operationId": "configs.list",
        "summary": "获取 Nginx 配置列表",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "site_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "config_type",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ]
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/NginxConfigResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.read"
      },
      "post": {
        "operationId": "configs.create",
        "summary": "创建 Nginx 配置",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNginxConfigRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.write"
      }
    },
    "/backend/v3/api/nginx/configs/{configId}": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "configs.retrieve",
        "summary": "获取 Nginx 配置详情",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.read"
      },
      "put": {
        "operationId": "configs.update",
        "summary": "更新 Nginx 配置",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNginxConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxConfigResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.write"
      }
    },
    "/backend/v3/api/nginx/configs/{configId}/validate": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "configs.validate",
        "summary": "校验 Nginx 配置",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "校验结果",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxValidateResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.write"
      }
    },
    "/backend/v3/api/nginx/configs/{configId}/deploy": {
      "parameters": [
        {
          "name": "configId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "configs.deploy",
        "summary": "部署 Nginx 配置",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "部署成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxDeployResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.configs.write"
      }
    },
    "/backend/v3/api/nginx/reload": {
      "post": {
        "operationId": "runtime.reload",
        "summary": "热加载 Nginx",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "热加载结果",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxReloadResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.runtime.write"
      }
    },
    "/backend/v3/api/nginx/status": {
      "get": {
        "operationId": "runtime.retrieve",
        "summary": "获取 Nginx 状态",
        "tags": [
          "nginx"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NginxStatusResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.runtime.read"
      }
    },
    "/backend/v3/api/servers": {
      "get": {
        "operationId": "servers.list",
        "summary": "获取服务器节点列表",
        "tags": [
          "server"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "cluster_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "按节点集群过滤"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ServerResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.servers.read"
      },
      "post": {
        "operationId": "servers.create",
        "summary": "注册服务器节点",
        "tags": [
          "server"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "注册成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ServerResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.servers.write"
      }
    },
    "/backend/v3/api/servers/{serverId}": {
      "put": {
        "operationId": "servers.update",
        "summary": "更新服务器节点",
        "tags": [
          "server"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/ServerResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.servers.write"
      }
    },
    "/backend/v3/api/node_clusters": {
      "get": {
        "operationId": "clusters.list",
        "summary": "获取节点集群列表",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/NodeClusterResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.clusters.read"
      },
      "post": {
        "operationId": "clusters.create",
        "summary": "创建节点集群",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNodeClusterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NodeClusterResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.clusters.write"
      }
    },
    "/backend/v3/api/node_clusters/{clusterId}": {
      "put": {
        "operationId": "clusters.update",
        "summary": "更新节点集群",
        "tags": [
          "cluster"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNodeClusterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/NodeClusterResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.clusters.write"
      }
    },
    "/backend/v3/api/audit_logs": {
      "get": {
        "operationId": "auditLogs.list",
        "summary": "获取审计日志列表",
        "tags": [
          "audit"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "name": "target_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "不透明 keyset 续页令牌（PAGINATION_SPEC §6），提供时走 cursor 模式且过滤器不适用",
            "schema": {
              "type": "string",
              "maxLength": 512
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AuditLogResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-permission": "deploy.auditLogs.read"
      }
    },
    "/backend/v3/api/entitlements": {
      "get": {
        "operationId": "entitlements.list",
        "summary": "List Commerce-backed entitlement projections",
        "description": "Platform management surface. Tenant-scoped when the token carries a tenant; platform-wide for platform operators. Deploy enforces these projections on capacity creation when enforcement is enabled.\n",
        "tags": [
          "entitlement"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/EntitlementProjectionResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/build_queue": {
      "get": {
        "operationId": "list",
        "summary": "List queued builds waiting for or claimed by runners",
        "description": "Backend build fleet administration surface: QUEUED/PREPARING builds oldest first, tenant-scoped when the token carries a tenant.\n",
        "tags": [
          "buildQueue"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/BuildQueueItemResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/runners": {
      "get": {
        "operationId": "list",
        "summary": "List runner liveness and workload health",
        "description": "Backend build fleet administration surface: per-runner last seen, completed/failed/active build counts.\n",
        "tags": [
          "runners"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/RunnerHealthResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/accounts": {
      "get": {
        "operationId": "tlsAccounts.list",
        "summary": "List ACME accounts of the tenant",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AcmeAccountResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      },
      "post": {
        "operationId": "tlsAccounts.create",
        "summary": "Create an ACME account binding",
        "description": "Registers the CA profile, directory URL, contact, and (optional) external account digest for the tenant. The account key material is a secret reference only; the ACME client boundary uses it during issuance once credential integration exists.\n",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAcmeAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/AcmeAccountResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/orders": {
      "post": {
        "operationId": "tlsOrders.create",
        "summary": "Request a certificate order for a certificate",
        "description": "Creates an order (idempotent on the idempotency key) with one HTTP_01 (or DNS_01) challenge per certificate identifier. The order then walks the canonical state machine via advance / challenge_result / versions.\n",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCertificateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateOrderResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/orders/{orderId}/advance": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "tlsOrders.advance",
        "summary": "Advance a certificate order one canonical state machine step",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateOrderResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "冲突",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/orders/{orderId}/fail": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "tlsOrders.fail",
        "summary": "Fail a certificate order with a stable error code",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailCertificateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/orders/{orderId}/challenge_result": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "tlsOrders.challengeResult",
        "summary": "Record a challenge validation result",
        "description": "A valid result advances the order to FINALIZING; an invalid result fails the order. The order keeps its state until all challenges are recorded valid.\n",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChallengeResultRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/tls/orders/{orderId}/versions": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "tlsOrders.create",
        "summary": "Store the issued certificate version and complete the order",
        "description": "Stores the certificate version (fingerprint/chain hashes, validity, secret bundle reference), activates it on the certificate, supersedes the previous version, and advances the order to VERSION_STORED in one transaction.\n",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCertificateVersionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/CertificateOrderResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "冲突",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-idempotent": true
      }
    },
    "/backend/v3/api/tls/orders/{orderId}/challenges": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "tlsOrders.list",
        "summary": "List challenges of a certificate order",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CertificateChallengeResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/certificates/{certificateId}/orders": {
      "parameters": [
        {
          "name": "certificateId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "tlsOrders.list",
        "summary": "List certificate orders of a certificate",
        "tags": [
          "tls"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CertificateOrderResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/retention/run": {
      "post": {
        "operationId": "run",
        "summary": "Apply platform retention policies",
        "description": "Retires unreferenced packages and releases past their retention windows and purges expired build log references. Retention windows come from platform configuration (SDKWORK_DEPLOY_RETENTION_*_DAYS). dryRun=true (default) reports candidates without mutating.\n",
        "tags": [
          "retention"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetentionRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/RetentionRunResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/usage/ingest": {
      "post": {
        "operationId": "create",
        "summary": "Ingest Web Server traffic usage events (per-domain / per-server-IP)",
        "description": "Batch traffic usage facts submitted by Web Server nodes (`traffic.requests`, `traffic.ingress_bytes`, `traffic.egress_bytes`). Every event is deduplicated on (tenant, deduplicationKey); binding and site uuids are resolved to internal ids and tenant attribution is derived from the binding when the node could not attribute it.\n",
        "tags": [
          "usage"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestUsageEventsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/UsageIngestResult"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-idempotent": true
      }
    },
    "/backend/v3/api/usage/reconcile": {
      "post": {
        "operationId": "create",
        "summary": "Rebuild the daily usage aggregate from retained usage facts",
        "description": "Idempotent upsert of the reconcilable daily aggregate from the append-only usage events in the window (default: trailing 90 days).\n",
        "tags": [
          "usage"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageReconciliationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/UsageReconciliationResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-idempotent": true
      }
    },
    "/backend/v3/api/signing_identity_health": {
      "get": {
        "operationId": "signingIdentityHealth.list",
        "summary": "List signing identity expiry health",
        "description": "Backend management surface: signing identities sorted by expiry urgency with days-until-expiry observations. Tenant-scoped when the token carries a tenant.\n",
        "tags": [
          "signingHealth"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/SigningIdentityHealthResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      }
    },
    "/backend/v3/api/source_events": {
      "get": {
        "operationId": "list",
        "summary": "List ingested Git webhook events",
        "description": "Backend management surface over the CI event log (deduplicated per repository commit). Tenant-scoped when the token carries a tenant.\n",
        "tags": [
          "sourceEvents"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "items",
                            "pageInfo"
                          ],
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/SourceEventResponse"
                              }
                            },
                            "pageInfo": {
                              "$ref": "#/components/schemas/PageInfo"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token"
      },
      "post": {
        "operationId": "create",
        "summary": "Ingest a Git webhook push event and trigger builds",
        "description": "GitHub-compatible webhook endpoint. The X-Hub-Signature-256 HMAC header is verified against SDKWORK_DEPLOY_WEBHOOK_SECRET (endpoint fails closed without it). Push events on the repository's default branch trigger builds for every active platform target with a governed template; events are deduplicated per commit.\n",
        "tags": [
          "sourceEvents"
        ],
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "GitHub push webhook payload (ref, repository.clone_url, head_commit)"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SdkWorkApiResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "item"
                          ],
                          "properties": {
                            "item": {
                              "$ref": "#/components/schemas/SourceEventIngestResponse"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "签名校验失败",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "校验错误",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "parameters": [],
        "x-sdkwork-api-surface": "backend-api",
        "x-sdkwork-owner": "sdkwork-deploy",
        "x-sdkwork-api-authority": "sdkwork-deploy-backend-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-idempotent": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AuthToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Access-Token"
      }
    },
    "parameters": {
      "IdempotencyKeyParam": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Stable command identity. Reuse with a different request is rejected.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "^[A-Za-z0-9._:-]+$"
        }
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 20
        }
      }
    },
    "schemas": {
      "ProblemDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "traceId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "code": {
            "$ref": "#/components/schemas/SdkWorkPlatformErrorCode"
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          },
          "i18nKey": {
            "type": "string",
            "description": "Optional stable localization key such as errors.result.40001."
          },
          "locale": {
            "type": "string",
            "description": "Optional effective BCP 47 locale used by framework message mapping."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          }
        }
      },
      "CreateNginxConfigRequest": {
        "type": "object",
        "required": [
          "configType",
          "configName",
          "configContent"
        ],
        "properties": {
          "configType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "configName": {
            "type": "string",
            "maxLength": 200
          },
          "configContent": {
            "type": "string"
          },
          "siteId": {
            "type": "string",
            "format": "uuid"
          },
          "domainId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UpdateNginxConfigRequest": {
        "type": "object",
        "properties": {
          "configContent": {
            "type": "string"
          },
          "configName": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "NginxConfigResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "configType": {
            "type": "integer"
          },
          "configName": {
            "type": "string"
          },
          "configContent": {
            "type": "string"
          },
          "configHash": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "versionNo": {
            "type": "integer"
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NginxConfigPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NginxConfigResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          }
        }
      },
      "NginxValidateResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning",
                    "info"
                  ]
                }
              }
            }
          }
        }
      },
      "NginxDeployResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "configId": {
            "type": "string",
            "format": "uuid"
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time"
          },
          "reloadResult": {
            "type": "object",
            "properties": {
              "reloaded": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "NginxReloadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NginxStatusResponse": {
        "type": "object",
        "properties": {
          "running": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "pid": {
            "type": "integer"
          },
          "activeConnections": {
            "type": "integer"
          },
          "configPath": {
            "type": "string"
          },
          "uptime": {
            "type": "string"
          }
        }
      },
      "CreateServerRequest": {
        "type": "object",
        "required": [
          "name",
          "host",
          "sshPort"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "host": {
            "type": "string",
            "maxLength": 255
          },
          "sshPort": {
            "type": "integer",
            "default": 22
          },
          "clusterId": {
            "type": "string",
            "format": "uuid",
            "description": "所属节点集群"
          },
          "sshUser": {
            "type": "string",
            "default": "root"
          },
          "sshKeyPath": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "UpdateServerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "sshPort": {
            "type": "integer"
          },
          "clusterId": {
            "type": "string",
            "format": "uuid",
            "description": "所属节点集群"
          },
          "sshUser": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3
            ],
            "description": "状态：0=未连接，1=在线，2=离线，3=维护中"
          }
        }
      },
      "ServerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "sshPort": {
            "type": "integer"
          },
          "clusterId": {
            "type": "string",
            "format": "uuid"
          },
          "clusterName": {
            "type": "string"
          },
          "nodeRole": {
            "type": "integer",
            "description": "节点角色：0=宿主节点，1=边缘节点"
          },
          "status": {
            "type": "integer"
          },
          "sshUser": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServerPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          }
        }
      },
      "CreateNodeClusterRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "region": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "UpdateNodeClusterRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "region": {
            "type": "string",
            "maxLength": 64
          },
          "status": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "状态：0=启用，1=停用"
          }
        }
      },
      "NodeClusterResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "nodeCount": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NodeClusterPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodeClusterResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          }
        }
      },
      "AuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "operatorId": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          },
          "operatorType": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          },
          "targetUuid": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "changes": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditLogPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogResponse"
            }
          },
          "total": {
            "type": "string",
            "format": "int64",
            "x-sdkwork-int64-string": true
          }
        }
      },
      "SdkWorkApiResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "data",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "enum": [
              0
            ],
            "default": 0,
            "minimum": 0,
            "maximum": 0
          },
          "data": {
            "description": "Operation-specific payload typed per response schema."
          },
          "traceId": {
            "type": "string",
            "format": "uuid",
            "description": "Server-owned request correlation id."
          }
        }
      },
      "SdkWorkResourceData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "item"
        ],
        "properties": {
          "item": {
            "type": "object",
            "additionalProperties": true,
            "description": "Typed domain resource for the operation."
          }
        }
      },
      "SdkWorkPageData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "items",
          "pageInfo"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "SdkWorkCommandData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "accepted"
        ],
        "properties": {
          "accepted": {
            "type": "boolean",
            "const": true
          },
          "resourceId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "offset",
              "cursor"
            ]
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "totalItems": {
            "type": "string",
            "format": "int64",
            "pattern": "^[0-9]+$",
            "x-sdkwork-int64-string": true
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "SdkWorkPlatformErrorCode": {
        "type": "integer",
        "format": "int32",
        "minimum": 40001,
        "maximum": 79999,
        "description": "Platform or domain error code per API_SPEC.md §15.3."
      },
      "FieldError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "field",
          "message"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32",
            "minimum": 40011,
            "maximum": 40099
          },
          "i18nKey": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "boolean"
                }
              ]
            }
          }
        }
      },
      "SdkWorkResourceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SdkWorkApiResponse"
          },
          {
            "type": "object",
            "required": [
              "data"
[...]
